@page "/AudioTestPage"
@using Client.Data
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env 

<h3>Media</h3>


@if (songs == null)
{
    <p>
      <em>Loading...</em>  
    </p>
} else if (!songs.Any())
{
    <p>
        <em>No songs exist. Please add some.</em>
    </p>
}
else
{

    <select @onchange="selectSong">
        <option>Select Below</option>
        @foreach (Song song in songs)
        {
            <option value="@song.Id">@song.Title</option>
        }
    </select>
    
    <div class="audioPlayer">
        <button @onclick="togglePlay">Play/Pause</button>
        <button @onclick="previousSong"><span class="oi-arrow-circle-left" aria-hidden="true"></span></button>
        <button @onclick="nextSong"><span class="oi-arrow-circle-right" aria-hidden="true"></span></button>
    </div>
}


<audio src="audio/@audioPlayer" autoplay controls="controls"></audio>




