@page "/AudioPlayer"
@inject IJSRuntime JS
<h3>AudioPlayer</h3>

<div class="audioPlayer">
        
    <button @onclick="previousSong"><span class="oi oi-arrow-circle-left" aria-hidden="true"></span></button>
    <button @onclick="TogglePlay">
        @if (isPlaying)
        {<span class="oi oi-media-pause" aria-hidden="true"></span>}
        else
        {<span class="oi oi-media-play" aria-hidden="true"></span>}
    </button>
    <button @onclick="nextSong"><span class="oi oi-arrow-circle-right" aria-hidden="true"></span></button>
    <label>@display</label>
    
    <progress id="progressBar" @onclick="progressBarClicked" @ref="progress" value="@progressValue" max="100" style="width: 100%">@(progressValue + " %")></progress>
</div>


@code {
    
}