@page "/Search"
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env
<h3>Search</h3>


<EditForm Model="@AudioTestModel">
    <InputSelect @bind-Value="filterOption">
        <option>Title</option>
        <option>Artist</option>
        <option>Album</option>
    </InputSelect>
    <InputText @bind-Value="searchField"/>
    <button @onclick="Filter">Search</button>
</EditForm>


<SongTable SongList="songsToShow"/>




