@page "/TESTPAGE"
@inject IModalService modal
<h5>Click thisbutton Show Modal Popup</h5>
<button @onclick="@(() => modal.Show<AudioTestPage>("Modal Popup Example"))"class="btn btn-primary">View</button>

@code {

}