@page "/AudioTestPage"
@using Client.Data
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env 

<h3>Media</h3>


@if (songs == null)
{
    <p>
      <em>Loading...</em>  
    </p>
} else if (!songs.Any())
{
    <p>
        <em>No ToDo items exist. Please add some.</em>
    </p>
}
else
{

    <select @onchange="playSong">
        <option>Select Below</option>
        @foreach (Song song in songs)
        {
            <option value="@song.Id">@song.Title</option>
        }
    </select>
}

<audio src="audio/@currentSong" controls></audio>





